<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">My collection
      <button class="btn btn-sm btn-success" type="button" (click)="addNewCollection(mymodal)">New</button>
      <div class="btn-group btn-group-sm" role="group" aria-label="Basic example" (click)="importCards(importModal)">
        <button type="button" class="btn btn-link" >
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </li>
  </ol>
</nav>



<div style="padding: 13px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <input class="form-control" (keyup)="searchCard($event.target.value)" placeholder="Search cards....">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <mat-list *ngIf="filteredList.length == 0">
          <mat-list-item *ngFor="let collection of collections" style="cursor: pointer">
            <mat-icon matListIcon><i class="ss ss-{{collection.edition}} ss-grad ss-1x"></i></mat-icon>
            <h4 matLine routerLink="/my-collection/{{collection._id}}">{{collection.name}}</h4>
            <p matLine class="demo-2">
              <span class="badge badge-info badge-pill" *ngIf="collection.wishList">WishList: {{collection.cardList | countCards}} - Total Price: {{collection.cardList | countCardsPrice | number : '1.2-2'}} &euro;</span>
              <span class="badge badge-info badge-pill" *ngIf="!collection.wishList">Collection: {{collection.cardList | countCards}} - Total Price: {{collection.cardList | countCardsPrice | number : '1.2-2'}} &euro;</span>
            </p>
            <mat-action-list>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #menu="matMenu">
                <button mat-menu-item>Edit</button>
                <button mat-menu-item (click)="deleteCollection(collection)">Delete</button>
              </mat-menu>
            </mat-action-list>
          </mat-list-item>
        </mat-list>
        <mat-list *ngIf="filteredList.length != 0">
          <mat-list-item *ngFor="let collection of filteredList" style="cursor: pointer">
            <mat-icon matListIcon><i class="ss ss-{{collection.edition}} ss-grad ss-1x"></i></mat-icon>
            <h4 matLine routerLink="/my-collection/{{collection._id}}">{{collection.name}}</h4>
            <p matLine class="demo-2">
              <span class="badge badge-info badge-pill" *ngIf="collection.wishList">WishList: {{collection.cardList | countCards}} - Total Price: {{collection.cardList | countCardsPrice | number : '1.2-2'}} &euro;</span>
              <span class="badge badge-info badge-pill" *ngIf="!collection.wishList">Collection: {{collection.cardList | countCards}} - Total Price: {{collection.cardList | countCardsPrice | number : '1.2-2'}} &euro;</span>
            </p>
            <mat-action-list>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #menu="matMenu">
                <button mat-menu-item>Edit</button>
                <button mat-menu-item (click)="deleteCollection(collection)">Delete</button>
              </mat-menu>
            </mat-action-list>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

  </div>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <input required="required" [(ngModel)]="collection.name"  class="form-control" placeholder="Name" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
        <mat-select placeholder="Edizione" [(ngModel)]="collection.edition" (selectionChange)="setEdition($event)">
          <mat-option *ngFor="let set of sets" [value]="set.code">
            <mat-icon matListIcon><i class="ss ss-{{set.code}} ss-grad ss-1x"></i></mat-icon>
            {{set.name}}
          </mat-option>
        </mat-select>
      </div>

      <div class="form-check">
        <input required="required" class="form-check-input" type="checkbox" [(ngModel)]="collection.wishList" [ngModelOptions]="{standalone: true}">
        <label class="form-check-label" >
          WishList
        </label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('save')">Salva</button>
  </div>
</ng-template>


<ng-template #importModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Import Cards</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <textarea required="required" [(ngModel)]="importCardsList"
                  class="form-control" placeholder="1 Card Name" [ngModelOptions]="{standalone: true}">
        </textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="importCardCode()">Import</button>
  </div>
</ng-template>

