<div class="container-fluid">

  <div class="row">
    <h2>Main
      <button class="btn btn-sm btn-primary" (click)="addCard()">Add Card</button>
    </h2>
  </div>

  <div class="row">
    <div class="col-lg-4" *ngIf="deck.creatures.length >= 1">
      <h3>Creatures <span class="badge badge-light">{{deck.creatures.length}}</span></h3>
      <hr>
      <app-card [cards]="deck.creatures"></app-card>

      <div *ngIf="deck.planeswalkers.length >=1">
        <h3>PlaneSwlaker <span class="badge badge-light">{{deck.planeswalkers.length}}</span></h3>
        <hr>
        <app-card [cards]="deck.planeswalkers"></app-card>
      </div>
    </div>
    <div class="col-lg-4" *ngIf="deck.spells.length >= 1">
      <h3>Spells <span class="badge badge-light">{{deck.spells.length}}</span></h3>
      <hr>
      <app-card [cards]="deck.spells"></app-card>
    </div>
    <div class="col-lg-4" *ngIf="deck.artifacts.length >= 1">
      <h3>Artifacts <span class="badge badge-light">{{deck.artifacts.length}}</span></h3>
      <hr>
      <app-card [cards]="deck.artifacts"></app-card>
    </div>
    <div class="col-lg-4" *ngIf="deck.enchantments.length >= 1">
      <h3>Enchantments <span class="badge badge-light">{{deck.enchantments.length}}</span></h3>
      <hr>
      <app-card [cards]="deck.enchantments"></app-card>
    </div>
    <div class="col-lg-4" *ngIf="deck.lands.length >= 1">
      <h3>Lands <span class="badge badge-light">{{deck.lands.length}}</span></h3>
      <hr>
      <app-card [cards]="deck.lands"></app-card>
    </div>


  </div>
</div>
