<div *ngIf="!showTable">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Search Card
            </h5>
            <input class="form-control" type="text" placeholder="Search" (keyup)="searchCard($event)">
            <!--            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            <!--            <a href="#" class="card-link">Card link</a>-->
            <!--            <a href="#" class="card-link">Another link</a>-->
            <br>
            <button class="btn btn-sm btn-primary" (click)="addCard()">Add Card</button>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <app-card [cards]="collection.cardList" [collection]="collection" *ngIf="filteredCard == null"></app-card>
        <app-card [cards]="filteredCard" [collection]="collection" *ngIf="filteredCard != null"></app-card>
        <p *ngIf="filteredCard != null && filteredCard.length == 0" class="card-text">No card</p>
      </div>
    </div>
  </div>
</div>

<h5 class="h5-responsive" style="margin-left: 2px">Collection - <b>{{collection.name}} - Total
  Card: {{collection.cardList | countCards}}</b>

  <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-link" (click)="importCards(mymodal)">
      <i class="fas fa-plus"></i>
    </button>
    <button type="button" class="btn btn-link" (click)="exportCollection()"><i class="fas fa-download"></i></button>
  </div>
</h5>

<div class="container">

  <div class="alert alert-danger" role="alert" *ngIf="importCardListError.length > 0">
    <p *ngFor="let carError of importCardListError"> {{carError}}</p>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search Card">
      </mat-form-field>
      <button class="btn btn-sm btn-primary" (click)="addCard()" style="margin-left: 1px">Add Card</button>

      <table mat-table #collectionTable [dataSource]="dataSource" matSort class="mat-elevation-z8">


        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
          <td mat-cell *matCellDef="let element">
            <p (click)="showImageCard(element)">{{element.name}}</p>
            <!--            <a href="" class="preview ">{{element.name}}-->
            <!--              <img class='only-show-on-hover' src="{{element.png}}"-->
            <!--                   style="z-index: 100; position: absolute;max-width: 20rem; max-height: 20rem;border-radius: 0.5rem"/>-->
            <!--            </a>-->
          </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity</th>
          <td mat-cell *matCellDef="let element">
            <div class="md-form">
              <input type="number" matInput style="width: 2.0rem; text-align:center" [(ngModel)]="element.quantity"
                     (change)="addCardsCollection(element,element.quantity)">
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type</th>
          <td mat-cell *matCellDef="let element"> {{element.type | extractType}} </td>
        </ng-container>

        <ng-container matColumnDef="edition">
          <th mat-header-cell *matHeaderCellDef> Edition</th>
          <td mat-cell *matCellDef="let element"><i
            class="ss ss-{{element.edition}} ss-{{element.rarity}} ss-grad ss-2x"></i></td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Price</th>
          <td mat-cell *matCellDef="let element"> {{element.price * element.quantity | number : '1.2-2'}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </div>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Import Cards</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <textarea required="required" [(ngModel)]="importCardsList"
                  class="form-control" placeholder="1 Card Name" [ngModelOptions]="{standalone: true}">
        </textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Import')">Import</button>
  </div>
</ng-template>

