<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">My collection {{collection.name}}
    </li>
  </ol>
</nav>

<div style="padding: 13px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Search Card <button class="btn btn-sm btn-primary" (click)="addCard()">Add Card</button>
            </h5>
            <input class="form-control" type="text" placeholder="Search">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<!--            <a href="#" class="card-link">Card link</a>-->
<!--            <a href="#" class="card-link">Another link</a>-->
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <app-card [cards]="collection.cardList" [deck]="collection"></app-card>
      </div>
    </div>
  </div>
</div>
