<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">My Decks
      <button class="btn btn-sm btn-success" type="button" (click)="addNewDeck()">New Deck</button>
    </li>
  </ol>
</nav>


<div style="padding: 13px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <mat-list>
          <mat-list-item *ngFor="let deck of myDeck" style="cursor: pointer">
            <mat-icon matListIcon><i class="ss ss-bcore"></i></mat-icon>
            <h4 matLine routerLink="/my-decks/{{deck._id}}">{{deck.name}}</h4>
            <p matLine class="demo-2">
              <span class="badge badge-info badge-pill"> {{deck.type}}</span>
            </p>
            <mat-action-list>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #menu="matMenu">
                <button mat-menu-item>Edit</button>
                <button mat-menu-item (click)="deleteDeck(deck)">Delete</button>
              </mat-menu>
            </mat-action-list>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

  </div>
</div>
