<!--<nav aria-label="breadcrumb">-->
<!--  <ol class="breadcrumb">-->
<!--    <li class="breadcrumb-item active" aria-current="page">My Decks-->
<!--      <button class="btn btn-sm btn aqua-gradient" type="button" (click)="addNewDeck()">New Deck</button>-->
<!--    </li>-->
<!--  </ol>-->
<!--</nav>-->




  <div class="container">
<!--    <button class="btn btn-sm btn aqua-gradient" type="button" (click)="addNewDeck(mymodal)">New Deck</button>-->

    <div class="row">
      <div class="col-lg-12">
        <mat-tab-group>
          <mat-tab label="{{item.key}}" *ngFor="let item of myDeck | groupBy: 'type'">
            <mat-list>
              <mat-list-item *ngFor="let deck of item.value" style="cursor: pointer">
                <mat-icon matListIcon><i class="ss ss-bcore"></i></mat-icon>
                <h4 matLine routerLink="/my-decks/{{deck._id}}">{{deck.name}}</h4>
                <p matLine class="demo-2">
                  <span class="badge badge-pill badge-default"> {{deck.type}}</span>
                </p>
                <mat-action-list>
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>

                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="addNewDeck(mymodal, deck)">Edit</button>
                    <button mat-menu-item (click)="deleteDeck(deck)">Delete</button>
                  </mat-menu>
                </mat-action-list>
              </mat-list-item>
            </mat-list>
          </mat-tab>

        </mat-tab-group>


      </div>
    </div>

  </div>







<!-- menu button -->
<div class="fab-container">
  <button mat-fab class="fab-toggler" color="primary" (click)="addNewDeck(mymodal)">
    <i class="material-icons">add</i>
  </button>

</div>




<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Deck</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <input required="required"  [(ngModel)]="deck.name"  class="form-control"
               placeholder="Name" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
        <mat-select placeholder="Type" [(ngModel)]="deck.type" [ngModelOptions]="{standalone: true}">
          <mat-option>None</mat-option>
          <mat-option value="standard">standard</mat-option>
          <mat-option value="modern">modern</mat-option>
          <mat-option value="pauper">pauper</mat-option>
          <mat-option value="commander">commander</mat-option>
        </mat-select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('save')">Salva</button>
  </div>
</ng-template>
