<!-- Jumbotron -->
<div class="card card-image" style="background-image: url(https://d1rw89lz12ur5s.cloudfront.net/photo/brainstormgamespdx/file/6a986680708611e68690bfdefd10d0dc/splashBanner_magic.jpg);">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <h2 class="card-title h2 my-4 py-2">MTG Collection</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">Store your cards. Create your decks.</p>
      <a class="btn peach-gradient" href="my-decks"><i class="fas fa-clone left"></i> Decks</a>
      <a class="btn peach-gradient" href="my-collections"><i class="fas fa-clone left"></i> Collection</a>


    </div>
  </div>
</div>
<!-- Jumbotron -->

